
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.cubes.controller.HelloWorld</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Connexion</servlet-name>
  	<servlet-class>com.cubes.Controller.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.cubes.Controller.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Inscription</servlet-name>
  	<servlet-class>com.cubes.Controller.Inscription</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListHero</servlet-name>
  	<servlet-class>com.cubes.Controller.ListHero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Connexion</servlet-name>
  	<url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Inscription</servlet-name>
  	<url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListHero</servlet-name>
  	<url-pattern>/heros</url-pattern>
  </servlet-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>

