nav.navbar {
	background-color: cyan;
}

#map {
	height: 500px;
	margin-left: 7%;
	margin-right: 7%;
	display: flex;
}

.formhome {
	display: flex;
	justify-content: center;
}

.puces {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding : 1%;
}

div.logo {
	text-align: center;
    width: 100%;
    display: block;
}